<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d742c9e6-d3d6-4426-8765-6e5e3d2d6437/resourceGroups/CalculatorTP2_group/providers/Microsoft.Web/sites/CalculatorTP2</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calculatortp2-eca3egh7gffhdpfy.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>447e5a96-4eee-483b-a3bb-d04b98ef4f2f</ProjectGuid>
    <PublishUrl>https://calculatortp2-eca3egh7gffhdpfy.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$CalculatorTP2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>